.chess-board {
  display: block;
  height: fit-content;
  width: fit-content;
  border: 10px solid rgba(68, 68, 85, 0.8);
}

.chess-board-rotated {
  display: block;
  height: fit-content;
  width: fit-content;
  border: 10px solid rgba(68, 68, 85, 0.8);
  rotate: 180deg;
}

.chess-board-row {
  display: flex;
  flex-direction: row;
}

.chess-board-piece-container {
  height: 60px;
  width: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.chess-board-piece {
  height: 70px;
  width: 70px;
  cursor: grab;
}

.chess-board-piece-rotated {
  rotate: 180deg;
}

.chess-board-empty-square {
  height: 70px;
  width: 70px;
}

.chess-board-promotion-piece {
  height: 70px;
  width: 70px;
}

.chess-promotion-radio-button{
  height: fit-content;
  width: fit-content; 
  background: #99a !important;
  border: none !important
}