.chess-board {
  display: block;
  height: fit-content;
  width: fit-content;
  border: 5px solid rgb(104, 104, 104);
}

.chess-board-rotated {
  display: block;
  height: fit-content;
  width: fit-content;
  border: 5px solid rgb(104, 104, 104);
  rotate: 180deg;
}

.chess-board-row {
  display: flex;
  flex-direction: row;
}

.chess-board-piece-container {
  height: 40px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.chess-board-piece {
  height: 50px;
  width: 50px;
  cursor: grab;
}

.chess-board-piece-rotated {
  rotate: 180deg;
}

.chess-board-empty-square {
  height: 40px;
  width: 40px;
}

.chess-board-promotion-piece {
  height: 50px;
  width: 50px;
}

.chess-promotion-radio-button {
  height: fit-content;
  width: fit-content;
  background: grey !important;
  border: none !important;
}
